# Extract #1
<hr>
The purpose of this notebook is to combine the series of separate book datasets gathered from Kaggle into one and filter out unwanted columns.

This is one of the two datasets that will be utilized in the "(T)ransformation" step for the ETL project

In [28]:
# Dependencies and Setup
import pandas as pd
import os
import csv

In [29]:
# File to Load
dataset_one = "../raw_datasets/book1-100k.csv"
dataset_two = "../raw_datasets/book100k-200k.csv"
dataset_three = "../raw_datasets/book200k-300k.csv"
dataset_four = "../raw_datasets/book300k-400k.csv"
dataset_five = "../raw_datasets/book400k-500k.csv"
dataset_six = "../raw_datasets/book500k-600k.csv"
dataset_seven = "../raw_datasets/book600k-700k.csv"
dataset_eight = "../raw_datasets/book700k-800k.csv"
dataset_nine = "../raw_datasets/book800k-900k.csv"
dataset_ten = "../raw_datasets/book900k-1000k.csv"
dataset_eleven = "../raw_datasets/book1000k-1100k.csv"
dataset_twelve = "../raw_datasets/book1100k-1200k.csv"
dataset_thirteen = "../raw_datasets/book1200k-1300k.csv"
dataset_fourteen = "../raw_datasets/book1300k-1400k.csv"
dataset_fifteen = "../raw_datasets/book1400k-1500k.csv"
dataset_sixteen = "../raw_datasets/book1500k-1600k.csv"
dataset_seventeen = "../raw_datasets/book1600k-1700k.csv"
dataset_eighteen = "../raw_datasets/book1700k-1800k.csv"
dataset_nineteen = "../raw_datasets/book1800k-1900k.csv"
dataset_twenty = "../raw_datasets/book1900k-2000k.csv"

In [30]:
#Read book datasets and read as DataFrames
df1 = pd.read_csv(dataset_one)
df2 = pd.read_csv(dataset_two)
df3 = pd.read_csv(dataset_three)
df4 = pd.read_csv(dataset_four)
df5 = pd.read_csv(dataset_five)
df6 = pd.read_csv(dataset_six)
df7 = pd.read_csv(dataset_seven)
df8 = pd.read_csv(dataset_eight)
df9 = pd.read_csv(dataset_nine)
df10 = pd.read_csv(dataset_ten)
df11 = pd.read_csv(dataset_eleven)
df12 = pd.read_csv(dataset_twelve)
df13 = pd.read_csv(dataset_thirteen)
df14 = pd.read_csv(dataset_fourteen)
df15 = pd.read_csv(dataset_fifteen)
df16 = pd.read_csv(dataset_sixteen)
df17 = pd.read_csv(dataset_seventeen)
df18 = pd.read_csv(dataset_eighteen)
df19 = pd.read_csv(dataset_nineteen)
df20 = pd.read_csv(dataset_twenty)

In [31]:
# Combine datasets into one
combined_df = df1.append([df2, df3, df4, df5, df6, df7, df8, df9, df10,\
                          df11, df12, df13, df14, df15, df16, df17, df18, df19, df20])

In [32]:
# Check number of rows
combined_df.shape

(917502, 21)

In [35]:
# Create final dataset ready for next step
final_df = combined_df[['ISBN', 'Name', 'Authors', 'Rating']]

In [36]:
# Preview data
final_df.head(3)

,ISBN,Name,Authors,Rating
0,NaN,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,4.57
1,0439358078,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,4.50
2,NaN,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,4.47

In [37]:
# Export
final_df.to_csv('../cleaned_datasets/source_kaggle.csv', index=False)